.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(0, 0, 0);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;    
}

.centering {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;    
    margin-top: 1vh;
}

.grid-centered {
    display: grid;
    grid-template-columns: repeat(6, auto); /* Six rectangles per row */
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
}

.artist {
    width: 14vw; /* Set width to 14vw */
    height: 5vh; /* Adjust height automatically based on content */
    display: flex;
    text-align: center; /* Center the text horizontally */
    justify-content: center;
    align-items: center;
    color: white; /* Set text color to white */
    font-size: 1rem; /* Set font size */
}


/* Define colors for each movement */
.impressionism { background-color: #f797a7; }
.post-impressionism { background-color: #4c85d5; }
.pointillism { background-color: #ecb426; }
.symbolism { background-color: #b0de93; }
.romanticism { background-color: #FFA07A; }
.realism { background-color: #008000; }
.expressionism { background-color: #FF0000; }
